<ul class="sg-colors">
  {{#colors}}
  <li>
    <span class="sg-swatch {{ class }}--bg"></span>
    <span class="sg-label">.{{ class }}</span>
    <span class="sg-label">({{ hex }})</span>
  </li>
  {{/colors}}
</ul>
