
<div data-ng-controller="FormControlsController as vm" data-ng-app="patterns">
	<sw-custom-multi-select model="vm.options.value" options="vm.options" filter-placeholder="""></sw-custom-multi-select>
</div>
