
<div data-ng-controller="FormControlsController as vm" data-ng-cloak=""data-ng-app="patterns" data-ng-app="patterns">
  <input class="numeric-field" sw-numeric-input="" data-format="currency" data-ng-model="vm.value" />
</div>
