/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
@import "style.scss";

html {
	font-size: 1em !important;
}

body {
	padding-top: 0 !important;
}

#sg-patterns {
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	max-width: 100%;
	padding: 0 0.5em;
}

.sg-pattern {
	min-height: 180px;
}

.demo-animate {
	background: #ddd;
	padding: 1em;
	margin-bottom: 1em;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}

%sg-flex {
	@include flexbox();
	@include flex-wrap(wrap);
	list-style: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

.sg-colors,
.sg-logos {
	@extend %sg-flex;

	li {
		-webkit-box-flex: 1;
		-ms-flex: auto;
		flex: auto;
		padding: 0.3em;
		margin: 0 0.5em 0.5em 0;
		min-width: 6em;
		max-width: 15em;
		border: 1px solid #eee;
	}
}

.sg-swatch {
	display: block;
	height: 4em;
	margin-bottom: 0.3em;
}

.sg-label {
	line-height: 1;
}
// Styleguide overridint Tab HTML/MUSTACHE inner content modifications
.sg-modal-content-inner {
	min-height: 300px;
}
