/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
/*------------------------------------*\
   #ABSTRACTS
\*------------------------------------*/
/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *

 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */
/*------------------------------------*\
     #COLORS
 \*------------------------------------*/
/**
 * Brand Colors
 * 1) Main identifiable colors involved in creating the UI
 *    Feel free to add your brand's color palette here.
 */
/**
 * Neutral Colors
 * 1) Neutral colors are grayscale values used throughout the application
 */
/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 * form validation, etc.
 */
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Font Family
 */
/**
 * Font Sizing
 */
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Max Width
 */
/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 * 2) The width of the bullets, used to align list content.
 */
/* 1 */
/* 2 */
/*------------------------------------*\
    #BORDERS
\*------------------------------------*/
/**
 * Border variables
 */
/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
/**
 * Transition Speed
 */
/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints used in media queries
 */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/*------------------------------------*\
   #BASE
\*------------------------------------*/
.a-color--charcoal {
  color: #383943;
}

.a-color--charcoal--bg {
  background: #383943;
}

.a-color--sky-blue {
  color: #e4f3f8;
}

.a-color--sky-blue--bg {
  background: #e4f3f8;
}

.a-color--ocean-blue {
  color: #82c2df;
}

.a-color--ocean-blue--bg {
  background: #82c2df;
}

.a-color--yellow {
  color: #f9d032;
}

.a-color--yellow--bg {
  background: #f9d032;
}

.a-color--red-orange {
  color: #ff4713;
}

.a-color--red-orange--bg {
  background: #ff4713;
}

.a-color--dark-blue {
  color: #005984;
}

.a-color--dark-blue--bg {
  background: #005984;
}

.a-color--light-gray {
  color: #e9e9e9;
}

.a-color--light-gray--bg {
  background: #e9e9e9;
}

.sg-swatch .a-logo--tag-wt-reg, .sg-swatch .a-logo--tag-wt-trade, .sg-swatch .a-logo--wt-reg, .sg-swatch .a-logo--wt-trade {
  background: #e9e9e9;
}

.a-logo {
  display: block;
  max-height: 50px;
}

#sg-patterns {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors, .sg-logos {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.sg-colors li, .sg-logos li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  min-width: 6em;
  max-width: 15em;
  border: 1px solid #eee;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
}

.sg-label {
  line-height: 1;
}

/*# sourceMappingURL=pattern-scaffolding.css.map */