/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

@mixin icon-colors($fallback: black) {
 fill: $fallback;
 @content;
}

// Create backgrounds and color classes
@mixin color ($color){
  color: $color;
  &--bg {
    background: $color;
  }
}

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}
