<ul class="sg-logos">
  {{#logos}}
  <li>
    <span class="sg-swatch"><img class="ab-logo {{ class }}" src="../../images/logos/{{ src }}" alt=""></span>
    <span class="sg-label">.{{ class }}</span>
  </li>
  {{/logos}}
</ul>
