<!DOCTYPE html>
<html class="">
  <head>
    <title>Nullizzle shizznit velizzle, hizzle, suscipit own yo&#39;, gravida vizzle, arcu.</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../css/style.css?1553645173091" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?1553645173091" media="all" />

	<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css" />
	<link rel="stylesheet" href="https://material.angularjs.org/1.1.1/docs.css" />

	<link rel="stylesheet" href="https://resources.sageworks.com/compiled/analyst/minified/product.min.css">
	<link rel="stylesheet" href="https://resources.sageworks.com/compiled/analyst/minified/analyst.min.css">

	<!-- JQuery script tags -->
	<script src="https://resources.sageworks.com/thirdparty/jquery/jquery-2.1.4.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/jquery/jquery-migrate-git.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/jquery/jquery-ui-1.11.4.custom/jquery-ui-custom.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/jquery/jquery.fancybox-1.3.4.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/jquery/jquery.magnific-popup.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/jquery/jquery.placeholder.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/foobaz/jquery.foobaz.2.1.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/jquery/jquery.easing-1.3.pack.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/jquery/jquery.scrollto.min.js"></script>

	<!-- Modernizer -->
	<script src="https://resources.sageworks.com/thirdparty/modernizr/modernizr-2.5.3.js"></script>

	<!-- Other thirdparty scripts -->
	<script src="https://resources.sageworks.com/thirdparty/imageLoaded/3.1.8/imagesloaded.pkgd.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/classie/1.0.1/classie.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/json2/json2.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/toastr/toastr.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/pluralize/pluralize.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/addtocalendar/ouical.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/sidebar/sidebarEffects.js"></script>

	<!-- Angular scripts -->
	<script src="https://resources.sageworks.com/thirdparty/angular/angular-1.5.3/angular.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/angular/material/angular-material.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/angular/material/angular-animate.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/angular/material/angular-aria.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/angular/material/angular-messages.min.js"></script>
	<script src="https://resources.sageworks.com/compiled/analyst/sw.min.js"></script>
	<script src="https://resources.sageworks.com/compiled/analyst/swangular.min.js"></script>
	<script src="https://resources.sageworks.com/thirdparty/chosen/angular-chosen.min.js"></script>
	<script src="https://sageworksanalyst.com/assets/js/jquery.swtable.js"></script>

  </head>
  <body class="">

<div data-ng-controller="TooltipController" ng-cloak="" class="tooltipdemoBasicUsage" data-ng-app="patterns">

  <md-toolbar class="md-accent">
    <h2 class="md-toolbar-tools">
      <span flex="">Awesome Md App</span>
      <md-button class="md-icon-button" aria-label="refresh">
        <md-tooltip md-direction="left">
          Refresh
        </md-tooltip>
        <md-icon md-svg-src="img/icons/ic_refresh_24px.svg" style="width: 24px; height: 24px;">
        </md-icon>
      </md-button>
    </h2>
  </md-toolbar>
  <md-content layout-padding="" style="margin-left: 20px; margin-right: 20px">
    <div>

      <p>
        The tooltip is visible when the button is hovered, focused, or touched.
      </p>

      <div layout="row" layout-align="space-between">
        <md-button class="md-fab" aria-label="Insert Drive">
          <md-icon md-svg-src="img/icons/ic_insert_drive_file_24px.svg"></md-icon>
          <md-tooltip md-visible="demo.showTooltip" md-direction="">
            Insert Drive
          </md-tooltip>
        </md-button>
        <md-button class="md-fab" aria-label="Photos">
          <md-tooltip>
            Photos
          </md-tooltip>
          <md-icon md-svg-src="img/icons/ic_photo_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
      </div>


      <div style="margin-top: 40px;margin-bottom: -5px">
        <p><code>md-direction</code> attribute can used to dynamically change the direction of the tooltip.<br>
        Note: the direction default value is 'bottom'. </p>
        <div style="padding-left: 30px">
        <md-radio-group ng-model="demo.tipDirection">
           <md-radio-button value="left"> Left </md-radio-button>
           <md-radio-button value="top">Top</md-radio-button>
           <md-radio-button value="bottom">Bottom</md-radio-button>
           <md-radio-button value="right">Right</md-radio-button>
         </md-radio-group>
        </div>
      </div>


      <div style="margin-top: 20px;">
        <p>
          Additionally, the Tooltip's <code>md-visible</code> attribute can use data-binding to
          programmatically show/hide itself. Toggle the checkbox below...
        </p>
        <div style="padding-left: 37px">
          <md-checkbox ng-model="demo.showTooltip" style="padding-left:30px;">
            Insert Drive
          </md-checkbox>
        </div>
      </div>

      <div style="margin-top: 20px;margin-bottom: -5px">
        <p>
          Additionally, the Tooltip's <code>md-delay</code> attribute can use to delay the
          show animation. The default values is 0 mSecs...
        </p>
        <div style="padding-left: 37px">
          <md-input-container>
            <label>Tooltip Delay (for Photos)</label>
            <input ng-model="demo.delayTooltip">
          </md-input-container>

          <md-button class="md-fab" aria-label="Photos with Tooltip Delay" style="margin-top: -24px;">
            <md-icon md-svg-src="img/icons/ic_photo_24px.svg" style="width: 24px; height: 24px; "></md-icon>
            <md-tooltip md-delay="demo.delayTooltip">
              Photos with Tooltip Delay  msecs
            </md-tooltip>
          </md-button>

        </div>
      </div>

    </div>
  </md-content>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
		<!--DO NOT REMOVE-->		<script src="../../js/angular.module.js"></script>
		<script src="../../js/form-control.controller.js"></script>
		<script src="../../js/tooltip.controller.js"></script>
	</body>

</html>
