%wt-logo {
    .sg-swatch & {
      background: $brand-light-gray;
    }
}

.a-logo {
    display: block;
    max-height: 50px;
    &--tag-wt-reg {
      @extend %wt-logo;
    }
    &--tag-wt-trade {
      @extend %wt-logo;
    }
    &--wt-reg {
      @extend %wt-logo;
    }
    &--wt-trade {
      @extend %wt-logo;
    }
    &--tag-bk-reg {}
    &--tag-bk-trade {}
    &--tag-reg {}
    &--tag-trade {}
    &--bk-reg {}
    &--bk-trade {}
    &--reg {}
    &--trade {}
}
