.ab-logo {
  display: block;
  max-height: 50px;
}

.ab-logo-tag-wt-r {
  .sg-swatch & {
    background: #ddd;
  }
}
.ab-logo-tag-wt-t {
  .sg-swatch & {
    background: #ddd;
  }
}
.ab-logo-bk-t {

}
.ab-logo-t {

}
.ab-logo-wt-r {
  .sg-swatch & {
    background: #ddd;
  }
}
.ab-logo-wt-t {
  .sg-swatch & {
    background: #ddd;
  }
}
.ab-favicon {

}
.ab-icon-url {

}
.ab-icon  {

}
.ab-logo-tag-bk-r {

}
.ab-logo-tag-bk-t {

}
.ab-logo-tag-r {

}
.ab-logo-tag-t {

}
.ab-logo-bk-r {

}
.ab-logo-r {
}
