<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

	<link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css"/>

	<link rel="stylesheet" href="https://resources.sageworks.com/compiled/analyst/minified/product.min.css"/>
	<link rel="stylesheet" href="https://resources.sageworks.com/compiled/analyst/minified/analyst.min.css"/>
	<link rel="stylesheet" href="https://sageworksanalyst.com/includes/style/minified/analyst-new.min.css"/>
	<link rel="stylesheet" href="https://sageworksanalyst.com/includes/css/analyst-redesign-temp.css"/>
	<link rel="stylesheet" href="https://sageworksanalyst.com/assets/css/jquery.swtable.css"/>
	<link rel="stylesheet" href="https://resources.sageworks.com/compiled/analyst/minified/print.min.css"/>
	<link rel="stylesheet" href="https://resources.sageworks.com/compiled/analyst/minified/magnific-popup.min.css"/>

	<link rel="stylesheet" href="https://resources.sageworks.com/thirdparty/pe-icon-7-stroke/1.2.0/dist/pe-icon-7-stroke.min.css" />
	<link rel="stylesheet" href="https://resources.sageworks.com/thirdparty/font-awesome/4.3.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://resources.sageworks.com/thirdparty/foobaz/jquery.foobaz.2.1.css" />
	<link rel="stylesheet" href="https://resources.sageworks.com/thirdparty/addtocalendar/main.css" />
	<link rel="stylesheet" href="https://resources.sageworks.com/thirdparty/highcharts/js/css/sageworks.css" />
	<link rel="stylesheet" href="https://resources.sageworks.com/thirdparty/chosen/chosen.css" /> 

	<!-- build:remove:dist -->
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
	<!-- /build -->

  </head>
  <body class="{{ bodyClass }}">
