		<!--DO NOT REMOVE-->
		<!-- build:remove:dist -->
		{{{ patternLabFoot }}}
		<!-- /build -->
		<script src="../../js/angular.module.js"></script>
		<script src="../../js/form-control.controller.js"></script>
		<script src="../../js/tooltip.controller.js"></script>
	</body>

</html>
